.tab-button {
 color:$color1;
 border: $space-primary solid $color1;
 border-radius: $border-cero $border-cero $border-primary $border-primary;
 width: $width-quinary;
 text-transform: uppercase;
   @media all and (min-width:768px) {
     display: none;
   }
}

.active-state-button {
 background-color: $color1;
 color:$color2;
 border:$color1;
}

.squared-primaryColor-width100-button{
width: $width-quaternary;
background-color: $color1;
border: none;
border: $border-secondary;
}

.squared-primaryColor-width45-button{
 width: $width-secondary;
 background-color: $color1;
 border: $space-secondary solid $color1;
 border-radius: $border-secondary;
}

.rounded-lightColor-width45-button{
 width: $width-secondary;
 background-color: $color2 ;
 border: $space-secondary solid $color1;
 border-radius: $border-secondary;
}

.rounded-primaryColor-width100-button{
 -webkit-appearance: none;
 -moz-appearance:    none;
 appearance:         none;
 background-color: $color1;
 opacity: 1;
 border-radius: $border-secondary;
 width: $width-quaternary;
 border: none;
 box-shadow: none;
}
