.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.text-justify {
text-align: justify;
}

.right {
float: right;
}

.left {
float:left;
}

.cv-box.hidden {
display: none;
@media all and (min-width:768px){
display: block;
  }
}

/* PADDINGS */
.padding-xxxxxs {
  padding: 5px;
}

.padding-xxxxs {
  padding: 0.375em;
}

.padding-xxs {
  padding: 0.625em;
}

.padding-xs {
  padding: 15px;
}

.padding-md {
  padding: 20px 10px;
}

.padding-left-xs {
  padding-left: 0.75em;
}

.padding-left-lg {
  padding-left: 1.875em;
}

/* MARGIN */

.margin-top-xxxs {
  margin-top: 0.5em;
}

.margin-top-xs {
  margin-top: 0.938em;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom-xxs {
  margin-bottom: 0.625em;
}

.margin-bottom-lg {
  margin-bottom: 1.250em;
}

.margin-left-zero {
  margin-left: 0;
}

.margin-right-zero {
  margin-right: 0;
}

.margin-xxxxs {
  margin: 0.375em 0;
}

.margin-xxxs {
  margin: 0.5em 0;
}

.margin-xxs {
  margin: 0.625em 0;
}

.margin-xs {
  margin: 0.75em 0;
}

.margin-md {
  margin: 1.125em 0 0.375em 0;
}
