.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.text-justify {
text-align: justify;
}

.right {
float: right;
}

.left {
float:left;
}

.hidden {
display: none;
}

.hidden-cv {
display: none;
@media all and (min-width:768px){
display: block;
  }
}

/* PADDINGS */
.padding-xxxxxs {
  padding: 5px;
}

.padding-xxxxs {
  padding: 6px;
}

.padding-xxs {
  padding: 10px;
}

.padding-xs {
  padding: 15px;
}

.padding-md {
  padding: 20px 10px;
}

.padding-left-xs {
  padding-left: 12px;
}

.padding-left-lg {
  padding-left: 30px;
}
.padding-right-xs {
  padding-right: 10px;
}

/* MARGIN */

.margin-top-zero {
  margin-top: 0;
}

.margin-top-xxxs {
  margin-top: 8px;
}

.margin-top-xs {
  margin-top: 15px;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom-xxs {
  margin-bottom: 10px;
}

.margin-bottom-lg {
  margin-bottom: 20px;
}

.margin-left-zero {
  margin-left: 0;
}

.margin-right-zero {
  margin-right: 0;
}

.margin-xxxxs {
  margin: 6px 0;
}

.margin-xxxs {
  margin: 8px 0;
}

.margin-xxs {
  margin: 10px 0;
}

.margin-xs {
  margin: 12px 0;
}

.margin-md {
  margin: 18px 0 6px 0;
}
