.header-typo {
  font-size: $mainBodySize;
  color: $color2;
  @media all and (min-width:1024px){
    font-size: $font-size-quaternary;
    }
}

.hero-title-typo {
  font-size: $font-size-tertiary;
  color: $color2;
  @media all and (min-width:1024px){
    font-size: $font-size-quaternary;
    }
}

.hero-larger-text-typo {
  font-size: $mainBodySize;
  color: $color2;
  @media all and (min-width:1024px){
    font-size: $font-size-senary;
    }
}

.hero-smaller-text-typo {
  font-size: $mainBodySize;
  color: $color2;
  @media all and (min-width:1024px){
    font-size: $font-size-tertiary;
    }
}

.uppercase-style {
  text-transform: uppercase;
}

// .tab-button-typo {
//   font-family: 'Barlow Semi Condensed', sans-serif;
//   letter-spacing: 1px;
//   font-size: 16px;
// }

.colored1-button-typo {
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
}

.colored2-button-typo {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a6313a;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
}

.indicative-text-typo {
  color: gray;
  font-size: 12px;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;

}

.cv-large-text {
  font-size: 30px;
}

.cv-small-text {
  font-size: 16px;
}

.color1 {
  color:white;
}

.bold-style {
  font-weight: bold;
}

.no-bold-effects {
  font-weight: normal;
}

.footer-typo {
  font-size: $mainBodySize;
  color: $color2;
}
