

.ker-care {
  font-size: 1em;
}

.kerstyle {
  text-transform: uppercase;
}

.title-lg {
  margin: 0.625em 0;
  text-transform: uppercase;
  font-size: 1.7em;
}

/*Estilos del header*/

/*header { /*Aquí he quitado text-align:center;*/
  /*background-color: #a6313a;
  color:white;
  height: 3.125em;
  padding: 0.938em;
  text-transform: uppercase;
  letter-spacing: 0.063em;
}*/


/*Estilos welcome box*/
/*
.welcome-box { /*Aquí he quitado text-align:center;*/
  /*padding: 1.250em 0.625em;
  background: url('https://raw.githubusercontent.com/Adalab/c-s2-ker/master/images/background-welcome.jpg') no-repeat;
  background-size: cover;
  color: white;
}*/
/*
.white-line {
  height: 0.125em;
  background-color: white;
  border:none;
}*/

/*Estilos de botones de formulario y curriculum*/

nav{
  display:flex;
}

.tab-button {
  background-color: white;
  color:#a6313a;
  border: 0.063em solid #a6313a;
  border-radius: 0em 0em 0.625em 0.625em;
  width: 50%;
  padding: 0.938em;
}

.active {
  background-color: #a6313a;
  color:white;
  border:#a6313a;
}

.hidden {
  display: none;
}

/*Estilos generales del FORMULARIO*/
/*Estilos del form*/

.form-box {
  margin-top: 0.938em;
}



/*Estilos botones añadir, subir, bajar y quitar*/
.skills-buttons, .language-buttons, .experience-buttons, .education-buttons {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0;
}

/*tamaño iconos botones añadir, subir, bajar y quitar*/
.add-button, .up-button, .down-button, .remove-button {
  width: 30px;
  height: 30px;
}

/*Estilos cajas introduccion datos*/

input, textarea {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border:none;
  border-radius: 0.313em;
  padding: 0.625em;
  margin:0.5em 0em;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  font-family: inherit;
}

/*Estilos de cajitas fechas*/
.calendar {
  margin: 0.125em 0em;
}

.calendar-start-exp, .calendar-end-exp, .calendar-start-educ, .calendar-end-educ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}

.month, .year {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  border-bottom: 0.063em solid #a6313a;
  background-color: white;
  color: black;
  font-family: inherit;
  border-radius: 0em;
}

.month{
  padding-left: 25px;
  width: 45%;
}

.year{
  padding-left: 10px;
  width: 20%;
}


/*ESTILOS CV*/

/*Estilos Cabecera CV*/

.profile {
  background-color: black;
  width: 100%;
}

.cv-header-text {
  padding: 15px;
}

.cv-description {
  width: 100%;
}

.contact {
  background-color: #a6313a;

}
.contact ul {
  list-style: none;
  margin-top: 0;
  padding: 15px;
}

.contact li img {
  width: 30px;
  padding-right: 10px;
}

/*estilos EXPERIENCIA, LENGUAJE, HABILIDADES*/


/* Estilos botón imprimir CV*/

.print-button { /*Aquí he quitado text-align:center;*/
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 0.938em;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  margin-top: 1.250em;
  box-shadow: none;
}

/*Estilos del footer*/

/*footer {
  background-color: black;
  color:white;
  font-weight: bold;
  height: 30px;
  padding: 5px;
}*/

/*MEDIAQUERIES*/


@media all and (min-width: 768px){

  .list-contact {
    display:flex;
    justify-content: space-between;
  }

  .list-education li {
    margin-right: 30px;
  }
}

@media all and (min-width:1024px){

  /*.welcome-box {
    height: 20em;
    padding:20px 60px;
  }*/

  /*header {
    height: 75px;
  }*/

  /*.cvbyker {
    font-size: 32px;
  }*/

  .ker-care {
    font-size: 1.250em;
  }



  main {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  .form-box {
    width:30%;
  }

  .cv-box {
    display: block;
    width:65%;
    margin:20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px 10px;
  }
}

@media print { /* Using for the screen as well */
  body {
    -webkit-print-color-adjust: exact;
  }
  .print-button{
    display: none;
  }

  .list-contact {
    display:flex;
    justify-content: space-between;
  }

  .contact ul {
    list-style: none;
    margin-top: 0;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;

  }
}
