/* Variables*/

/* Font family*/

$font-family: 'Barlow Semi Condensed', sans-serif;

/* Colors*/

$color1: #a6313a;
$color2: #ffffff;
$color3: #F1EDEC;
$color4: #000000;

/* Font size */

$mainBodySize: 16px;
$font-size-primary: 12px;
$font-size-secondary: 14px;
$font-size-tertiary: 20px;
$font-size-quaternary: 30px;
$font-size-quinary: 32px;
$font-size-senary: 24px;

/* Height container size */

$height-primary: 30px;
$height-secondary: 50px;
$height-tertiary: 75px;
$height-quaternary: 320px;

/* Letter spacing */

$space-primary: 1px;
$space-secondary: 2px;

/* Size inputs,selects,textarea */
$width-primary: 20%;
$width-secondary: 45%;
$width-tertiary: 65%;
$width-quaternary: 100%;
$width-quinary: 50%;

/* Border-radius */
$border-cero: 0;
$border-primary: 10px;
$border-secondary: 15px;




/* Colors class*/

.color-primary {
  background-color:$color1;
}

.color-secondary {
  background-color:$color4;
}

.color-tertiary {
  background-color:$color2;
}

.color-light {
  color:$color2;
}

.color-midtone {
  color:$color3;
}

.color-dark {
  color:$color4;
}
