

#name_surname_out {
  font-size: 40px;
  text-transform: capitalize;
}

.profile {
  background-color: black;
  width: 100%;
}

.cv-header-text {
  padding: 15px;
  color:white;
}

.cv-description {
  width: 100%;
}

.contact {
  background-color: #a6313a;

}
.contact ul {
  list-style: none;
  margin-top: 0;
  padding: 15px;
}

.contact li img {
  width: 30px;
  padding-right: 10px;
}

.section-cv h3 {
  margin-bottom: 0;
  margin-left: 0.938em;
  text-transform: uppercase;
}

.red-line {
  height: 2px;
  background-color: #a6313a;
  border:none;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px;
}

.box-cv {
  background-color: lightgray;
  padding: 5px;
}

.list-language, .list-skills {
  padding: 0 20px;
  margin: 0;
}

.list-experience {
  margin: 0;
  padding: 20px 20px;
}

.list-education {
  display: flex;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.cv-box {
  @media all and (min-width:1024px) {
    display: block;
    width:65%;
    margin:20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px 10px;
  }
}

.photo-CV {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #a6313a;
  display: block;
  margin: 30px 10px 10px 0;
  float: right;
  @media all and (min-width:1024px) {
    margin: 35px;
  }
}
