.default-input-txtarea {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border:none;
  border-radius: 0.313em;
  padding: 0.625em;
  margin:0.5em 0em;
  background: lightgray;
  opacity: 0.5;
  width: $width-quaternary;
  font-family: inherit;
}

.default-fieldset {
  border: 0.125em solid $color1;
  border-radius: 0.938em;
  margin-bottom: 0.625em
}

.month, .year {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  border-bottom: 1px solid $color1;
  border-radius: 0px;
}

.month {
  width: $width-secondary;
}

.year {
  width: $width-primary;
}

.insert-photo-input {
  display: block;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.hidden-box-form {
  display: none;
}

.show-box-form {
  display: block;
  animation: show-display 1s;
}

@keyframes show-display {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.calendar {
  margin: 0.125em 0em;
}

.calendar-start-exp, .calendar-end-exp, .calendar-start-educ, .calendar-end-educ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}

.print-button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 0.938em;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  margin-top: 1.250em;
  box-shadow: none;
}
