@charset "UTF-8";
/* Variables*/
/* Font family*/
/* Colors*/
/* Font size */
/* Height container size */
/* Letter spacing */
/* Size inputs,selects,textarea */
/* Border-radius */
/* Colors class*/
.color-primary {
  background-color: #a6313a; }

.color-secondary {
  background-color: #000000; }

.color-tertiary {
  background-color: #ffffff; }

.color-light {
  color: #ffffff; }

.color-midtone {
  color: #F1EDEC; }

.color-dark {
  color: #000000; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 2%;
  font-size: 16px; }

p {
  margin-top: 0; }

.header-container {
  height: 50px;
  letter-spacing: 1px; }
  @media all and (min-width: 1024px) {
    .header-container {
      height: 75px; } }

.footer-container {
  height: 30px; }
  @media all and (min-width: 1024px) {
    .footer-container {
      height: 50px; }
      .footer-container.padding-xxxxxs {
        padding: 20px 5px 5px 5px; }
      .footer-container.footer-typo {
        font-size: 20px;
        color: #ffffff; } }

.default-input-txtarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0;
  background: #F1EDEC;
  opacity: 0.5;
  width: 100%;
  font-family: inherit; }

.default-fieldset {
  border: 1px solid #a6313a;
  border-radius: 15px;
  margin-bottom: 10px; }

.month, .year {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #a6313a;
  border-radius: 0; }

.month {
  width: 45%; }

.year {
  width: 20%; }

.insert-photo-input {
  display: block;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px; }

.hidden-box-form {
  display: none; }

.show-box-form {
  display: block;
  animation: show-display 1s; }

@keyframes show-display {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.calendar {
  margin: 0.125em 0em; }

.calendar-start-exp, .calendar-end-exp, .calendar-start-educ, .calendar-end-educ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%; }

.print-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 0.938em;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  margin-top: 1.250em;
  box-shadow: none; }

#name_surname_out {
  font-size: 40px;
  text-transform: capitalize; }

.profile {
  background-color: #000000;
  width: 100%; }

.cv-header-text {
  color: #ffffff; }

.cv-description {
  width: 100%; }

.contact {
  background-color: #a6313a; }

.contact ul {
  list-style: none; }

.contact li img {
  width: 30px; }

.section-cv h3 {
  margin-bottom: 0;
  margin-left: 0.938em;
  text-transform: uppercase; }

.red-line {
  height: 2px;
  background-color: #a6313a;
  border: none;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px; }

.box-cv {
  background-color: #F1EDEC;
  padding: 5px; }

.list-language, .list-skills {
  padding: 0 20px;
  margin: 0; }

.list-experience {
  margin: 0;
  padding: 20px 20px; }

.list-education {
  display: flex;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-between; }

.bold {
  font-weight: bold; }

@media all and (min-width: 1024px) {
  .cv-box {
    display: block;
    width: 65%;
    margin: 20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px 10px; } }

.photo-CV {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #a6313a;
  display: block;
  margin: 30px 10px 10px 0;
  float: right; }
  @media all and (min-width: 1024px) {
    .photo-CV {
      margin: 35px; } }

.welcome-box {
  background: url("https://raw.githubusercontent.com/Adalab/c-s2-ker/master/images/background-welcome.jpg") no-repeat;
  background-size: cover; }
  @media all and (min-width: 1024px) {
    .welcome-box {
      height: 320px;
      padding: 20px 60px; } }

.tab-button {
  color: #a6313a;
  border: 1px solid #a6313a;
  border-radius: 0 0 10px 10px;
  width: 50%;
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    .tab-button {
      display: none; } }

.active-state-button {
  background-color: #a6313a;
  color: #ffffff;
  border: #a6313a; }

.squared-primaryColor-width100-button {
  width: 100%;
  background-color: #a6313a;
  border: none;
  border: 15px; }

.squared-primaryColor-width45-button {
  width: 45%;
  background-color: #a6313a;
  border: 2px solid #a6313a;
  border-radius: 15px; }

.rounded-lightColor-width45-button {
  width: 45%;
  background-color: #ffffff;
  border: 2px solid #a6313a;
  border-radius: 15px; }

.rounded-primaryColor-width100-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 15px;
  width: 100%;
  border: none;
  box-shadow: none; }

/*Estilos botones añadir, subir, bajar y quitar*/
.skills-buttons, .language-buttons, .experience-buttons, .education-buttons {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0; }

/*tamaño iconos botones añadir, subir, bajar y quitar*/
.add-button, .up-button, .down-button, .remove-button {
  width: 30px;
  height: 30px; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.313em;
  padding: 0.625em;
  margin: 0.5em 0em;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  font-family: inherit; }

.print-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 0.938em;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  margin-top: 1.250em;
  box-shadow: none; }

@media all and (min-width: 768px) {
  .list-contact {
    display: flex;
    justify-content: space-between; }
  .list-education li {
    margin-right: 30px; } }

@media all and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: space-between; }
  nav {
    display: none; }
  .form-box {
    width: 30%; }
  .cv-box {
    display: block;
    width: 65%;
    margin: 20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px 10px; } }

@media print {
  body {
    -webkit-print-color-adjust: exact; }
  .print-button {
    display: none; }
  .list-contact {
    display: flex;
    justify-content: space-between; }
  .contact ul {
    list-style: none;
    margin-top: 0;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px; } }

.header-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .header-typo {
      font-size: 30px; } }

.hero-title-typo {
  font-size: 20px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-title-typo {
      font-size: 30px; } }

.hero-larger-text-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-larger-text-typo {
      font-size: 24px; } }

.hero-smaller-text-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-smaller-text-typo {
      font-size: 20px; } }

.uppercase-style {
  text-transform: uppercase; }

.colored1-button-typo {
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px; }

.colored2-button-typo {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a6313a;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px; }

.indicative-text-typo {
  color: #F1EDEC;
  font-size: 12px;
  text-align: right; }

.cv-large-text {
  font-size: 30px; }

.cv-small-text {
  font-size: 16px; }

.color1 {
  color: #ffffff; }

.bold-style {
  font-weight: bold; }

.no-bold-effects {
  font-weight: normal; }

.footer-typo {
  font-size: 16px;
  color: #ffffff; }

.title-lg {
  margin: 0.625em 0;
  text-transform: uppercase;
  font-size: 1.7em; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.right {
  float: right; }

.left {
  float: left; }

.hidden {
  display: none; }

.hidden-cv {
  display: none; }
  @media all and (min-width: 768px) {
    .hidden-cv {
      display: block; } }

/* PADDINGS */
.padding-xxxxxs {
  padding: 5px; }

.padding-xxxxs {
  padding: 6px; }

.padding-xxs {
  padding: 10px; }

.padding-xs {
  padding: 15px; }

.padding-md {
  padding: 20px 10px; }

.padding-left-xs {
  padding-left: 12px; }

.padding-left-lg {
  padding-left: 30px; }

.padding-right-xs {
  padding-right: 10px; }

/* MARGIN */
.margin-top-zero {
  margin-top: 0; }

.margin-top-xxxs {
  margin-top: 8px; }

.margin-top-xs {
  margin-top: 15px; }

.margin-bottom-zero {
  margin-bottom: 0; }

.margin-bottom-xxs {
  margin-bottom: 10px; }

.margin-bottom-lg {
  margin-bottom: 20px; }

.margin-left-zero {
  margin-left: 0; }

.margin-right-zero {
  margin-right: 0; }

.margin-xxxxs {
  margin: 6px 0; }

.margin-xxxs {
  margin: 8px 0; }

.margin-xxs {
  margin: 10px 0; }

.margin-xs {
  margin: 12px 0; }

.margin-md {
  margin: 18px 0 6px 0; }
