/* Variables*/
/* Font family*/
/* Colors*/
/* Font size */
/* Height container size */
/* Letter spacing */
/* Colors class*/
.color-primary {
  background-color: #a6313a; }

.color-secondary {
  background-color: #000000; }

.color-light {
  color: #ffffff; }

.color-midtone {
  color: #F1EDEC; }

.color-dark {
  color: #000000; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 2%;
  font-size: 16px; }

p {
  margin-top: 0; }

.header-container {
  height: 50px;
  letter-spacing: 1px; }
  @media all and (min-width: 1024px) {
    .header-container {
      height: 75px; } }

.footer-container {
  height: 30px; }
  @media all and (min-width: 1024px) {
    .footer-container {
      height: 50px; }
      .footer-container.padding-xxxxxs {
        padding: 20px 5px 5px 5px; }
      .footer-container.footer-typo {
        font-size: 20px;
        color: #ffffff; } }

.default-input-txtarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0.313em;
  padding: 0.625em;
  margin: 0.5em 0em;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  font-family: inherit; }

.default-fieldset {
  border: 0.125em solid #a6313a;
  border-radius: 0.938em;
  margin-bottom: 0.625em; }

.section-cv h3 {
  margin-bottom: 0;
  margin-left: 0.938em;
  text-transform: uppercase; }

.red-line {
  height: 2px;
  background-color: #a6313a;
  border: none;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px; }

.box-cv {
  background-color: lightgray;
  padding: 5px; }

.list-language, .list-skills {
  padding: 0 20px;
  margin: 0; }

.list-experience {
  margin: 0;
  padding: 20px 20px; }

.list-education {
  display: flex;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-between; }

.bold {
  font-weight: bold; }

.welcome-box {
  background: url("https://raw.githubusercontent.com/Adalab/c-s2-ker/master/images/background-welcome.jpg") no-repeat;
  background-size: cover; }
  @media all and (min-width: 1024px) {
    .welcome-box {
      height: 320px;
      padding: 20px 60px; } }

.tab-button {
  background-color: white;
  color: #a6313a;
  border: 0.063em solid #a6313a;
  border-radius: 0em 0em 0.625em 0.625em;
  width: 50%;
  padding: 0.938em;
  text-transform: uppercase; }

.active-state-button {
  background-color: #a6313a;
  color: white;
  border: #a6313a; }

.squared-primaryColor-width100-button {
  width: 100%;
  background-color: #a6313a;
  border: none;
  border: 15px;
  margin: 5px 0;
  padding: 5px; }

.squared-primaryColor-width45-button {
  width: 45%;
  background-color: #a6313a;
  border: 2px solid #a6313a;
  /*border-radius: 15px;*/
  margin-top: 15px;
  padding: 5px; }

.rounded-lightColor-width45-button {
  width: 45%;
  background-color: white;
  border: 2px solid #a6313a;
  border-radius: 15px;
  margin-top: 15px;
  padding: 5px; }

.rounded-primaryColor-width100-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #a6313a;
  opacity: 1;
  border-radius: 0.938em;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  box-shadow: none; }

.header-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .header-typo {
      font-size: 30px; } }

.hero-title-typo {
  font-size: 20px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-title-typo {
      font-size: 30px; } }

.hero-larger-text-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-larger-text-typo {
      font-size: 24px; } }

.hero-smaller-text-typo {
  font-size: 16px;
  color: #ffffff; }
  @media all and (min-width: 1024px) {
    .hero-smaller-text-typo {
      font-size: 20px; } }

.uppercase-style {
  text-transform: uppercase; }

.colored1-button-typo {
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px; }

.colored2-button-typo {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a6313a;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px; }

.indicative-text-typo {
  color: gray;
  font-size: 12px;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0; }

.cv-large-text {
  font-size: 30px; }

.cv-small-text {
  font-size: 16px; }

.color1 {
  color: white; }

.bold-style {
  font-weight: bold; }

.no-bold-effects {
  font-weight: normal; }

.footer-typo {
  font-size: 16px;
  color: #ffffff; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.right {
  float: right; }

.left {
  float: left; }

.hidden {
  display: none; }

.hidden-cv {
  display: none; }
  @media all and (min-width: 768px) {
    .hidden-cv {
      display: block; } }

/* PADDINGS */
.padding-xxxxxs {
  padding: 5px; }

.padding-xxxxs {
  padding: 0.375em; }

.padding-xxs {
  padding: 0.625em; }

.padding-xs {
  padding: 15px; }

.padding-md {
  padding: 20px 10px; }

.padding-left-xs {
  padding-left: 0.75em; }

.padding-left-lg {
  padding-left: 1.875em; }

/* MARGIN */
.margin-top-xxxs {
  margin-top: 0.5em; }

.margin-top-xs {
  margin-top: 0.938em; }

.margin-bottom-zero {
  margin-bottom: 0; }

.margin-bottom-xxs {
  margin-bottom: 0.625em; }

.margin-bottom-lg {
  margin-bottom: 1.250em; }

.margin-left-zero {
  margin-left: 0; }

.margin-right-zero {
  margin-right: 0; }

.margin-xxxxs {
  margin: 0.375em 0; }

.margin-xxxs {
  margin: 0.5em 0; }

.margin-xxs {
  margin: 0.625em 0; }

.margin-xs {
  margin: 0.75em 0; }

.margin-md {
  margin: 1.125em 0 0.375em 0; }
