* {
  box-sizing: border-box;
}

.kerstyle{
  text-transform: uppercase;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 2%;
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  margin-left: 15px;
}

h2 {
  margin: 10px 0;
  text-transform: uppercase;
}

p{
  margin-top: 0;
}

/*Estilos del header*/

header{
  background-color: #a6313a;
  color:white;
  text-align: center;
  height: 50px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*Estilos welcome box*/

.welcome-box{
  text-align: center;
  padding: 20px 10px;
  background: url(https://raw.githubusercontent.com/Adalab/c-s2-ker/master/images/background-welcome.jpg) no-repeat;
  background-size: cover;
  color: white;
}

.white-line{
  height: 2px;
  background-color: white;
  border:none;
}

.welcome-text{
  padding: 10px;
}

/*Estilos de botones de formulario y curriculum*/

nav{
  display:flex;
}

.tab-button{
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#a6313a;
  border: 1px solid #a6313a;
  border-radius: 0px 0px 10px 10px;
  width: 50%;
  padding: 15px;
}

.tab-button.active{
  background-color: #a6313a;
  color:white;
  border:#a6313a;
}

.hidden {
  display: none;
}

/*Estilos generales del FORMULARIO*/
/*Estilos del form*/

.form-box {
  margin-top: 15px;
}

/*Estilos cajas contenedoras del fieldset*/

.form-obl{
  color: gray;
  font-size: 12px;
  text-align: right;
  margin-bottom: 0px;
}

.form-contact, .form-skills, .form-language, .form-experience, .form-education {
  border: 2px solid #a6313a;
  border-radius: 15px;
  margin-bottom: 10px;
}

/*Estilos cajas introduccion datos*/

input, textarea{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border:none;
  border-radius: 5px;
  padding: 10px;
  margin:8px 0px;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  font-family: inherit;
}

/*Estilos de cajitas fechas*/
.calendar {
  margin: 2px 0;
}

.calendar-start-exp, .calendar-end-exp, .calendar-start-educ, .calendar-end-educ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 60%;
}

#startExpMonth, #startExpYear, #end-exp-month, #end-exp-year, #start-educ-month, #start-educ-year, #end-educ-month, #end-educ-year {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  border-bottom: 1px solid #a6313a;
  background-color: white;
  color: white;
  font-family: inherit;
  padding: 2px 10px;
  border-radius: 0;
}



/*Estilos boton enviar final*/

.submit-button{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #a6313a;
  opacity: 1;
  color: white;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  box-shadow: none;
}


/*ESTILOS CV*/

.cv-box{
  margin-bottom: 15px;
}


/*Estilos caja gris secciones*/

.skills-box, .language-box, .experience-box, .education-box {
  background-color: lightgray;
  padding: 5px;
}

.red-line {
  height: 2px;
  background-color: #a6313a;
  border:none;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px;
}

/*Estilos Cabecera CV*/

.profesion {
  font-style: oblique;
  font-weight: normal;
}

.profile{
  background-color: black;
  width: 100%;
}

.profile img{
  width: 100%;
  padding: 15px;
  display: none;
}

.cv-header-text{
  color:white;
  padding: 15px;
}

.cv-description{
  width: 100%;
  text-align: justify;
}

.contact{
  background-color: #a6313a;

}
.contact ul{
  list-style: none;
  margin-top: 0;
  padding: 15px;
}

.contact li img{
  width: 30px;
  padding-right: 10px;
}

/*estilos EXPERIENCIA, LENGUAJE, HABILIDADES*/

.list-language, .list-skills {
  padding: 0 20px;
  margin: 0;
}

.list-experience {
  margin: 0;
  padding: 20px 20px;
}

.job {
  font-weight: bold;
}

/*Estilos EDUCACION*/

.list-education {
  display: flex;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-between;
}

/*Estilos del footer*/

footer {
  background-color: black;
  color:white;
  text-align: center;
  font-weight: bold;
  height: 30px;
  padding: 5px;
}

/*MEDIAQUERIES*/


@media all and (min-width: 768px){

.list-contact {
  display:flex;
  justify-content: space-between;
}

.list-education li{
  margin-right: 30px;
}
}

@media all and (min-width:1024px){

/*.welcome-box{
  height: 15em;
  padding:20px 60px;
}

  .flex-personal-data {
    display:flex;
    justify-content: space-between;
  }
.flex-personal-data2{
  display:flex;
}

}*/

main {
  display: flex;


}
.form-box{
  width:50%;
}

.cv-box{
  width:50%;
  border: 2px solid #a6313a;
  border-radius: 15px;
  margin:20px;
  padding: 10px 10px;
}
