* {
  box-sizing: border-box;
}

.ker-care {
  font-size: 1em;
}

.kerstyle {
  text-transform: uppercase;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 2%;
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  margin-left: 0.938em;
}

h2 {
  margin: 0.625em 0;
  text-transform: uppercase;
  font-size: 1.250em;
}

p {
  margin-top: 0;
}

/*Estilos del header*/

header {
  background-color: #a6313a;
  color:white;
  text-align: center;
  height: 3.125em;
  padding: 0.938em;
  text-transform: uppercase;
  letter-spacing: 0.063em;
}


/*Estilos welcome box*/

.welcome-box {
  text-align: center;
  padding: 1.250em 0.625em;
  background: url(https://raw.githubusercontent.com/Adalab/c-s2-ker/master/images/background-welcome.jpg) no-repeat;
  background-size: cover;
  color: white;
}

.white-line {
  height: 0.125em;
  background-color: white;
  border:none;
}

.welcome-text {
  padding: 0.625em;
  font-size: 1em;
}

/*Estilos de botones de formulario y curriculum*/

nav{
  display:flex;
}

.tab-button {
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color:#a6313a;
  border: 0.063em solid #a6313a;
  border-radius: 0em 0em 0.625em 0.625em;
  width: 50%;
  padding: 0.938em;
}

.active {
  background-color: #a6313a;
  color:white;
  border:#a6313a;
}

.hidden {
  display: none;
}

/*Estilos generales del FORMULARIO*/
/*Estilos del form*/

.form-box {
  margin-top: 0.938em;
}

/*Estilos cajas contenedoras del fieldset*/

.form-obl {
  color: gray;
  font-size: 0.750em;
  text-align: right;
  margin-bottom: 0em;
}

.form-contact, .form-skills, .form-language, .form-experience, .form-education {
  border: 0.125em solid #a6313a;
  border-radius: 0.938em;
  margin-bottom: 0.625em;
}

/*Estilos botones editar, cerrar y guardar de campos colapsables*/
.edit-button {
  width: 100%;
  background-color: #a6313a;
  color: white;
  border: none;
  border: 15px;
  margin: 5px 0;
  padding: 5px;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.close {
  width: 45%;
  background-color: #a6313a;
  color: white;
  border: 2px solid #a6313a;
  border-radius: : 15px;
  margin-top: 15px;
  padding: 5px;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: left;
}

.send-input-button {
  width: 45%;
  background-color: white ;
  color: #a6313a;
  border: 2px solid #a6313a;
  border-radius: : 15px;
  margin-top: 15px;
  padding: 5px;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: right;
}

/*Estilos botones a침adir, subir, bajar y quitar*/
.skills-buttons, .language-buttons, .experience-buttons, .education-buttons {
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0;
}

/*tama침o iconos botones a침adir, subir, bajar y quitar*/
.add-button, .up-button, .down-button, .remove-button {
  width: 30px;
  height: 30px;
}

/*Estilos cajas introduccion datos*/

input, textarea {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border:none;
  border-radius: 0.313em;
  padding: 0.625em;
  margin:0.5em 0em;
  background: lightgray;
  opacity: 0.5;
  width: 100%;
  font-family: inherit;
}

/*Estilos de cajitas fechas*/
.calendar {
  margin: 0.125em 0em;
}

.calendar-start-exp, .calendar-end-exp, .calendar-start-educ, .calendar-end-educ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}

.month, .year {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  border-bottom: 0.063em solid #a6313a;
  background-color: white;
  color: black;
  font-family: inherit;
  border-radius: 0em;
}

.month{
  padding-left: 25px;
  width: 45%;
}

.year{
  padding-left: 10px;
  width: 20%;
}

/*Estilos boton enviar final*/

.submit-button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #a6313a;
  opacity: 1;
  color: white;
  border-radius: 0.938em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  box-shadow: none;
}


/*ESTILOS CV*/

/*Estilos caja gris secciones*/

.skills-box, .language-box, .experience-box, .education-box {
  background-color: lightgray;
  padding: 5px;
}

.red-line {
  height: 2px;
  background-color: #a6313a;
  border:none;
  margin-top: 3px;
  margin-right: 15px;
  margin-left: 15px;
}

/*Estilos Cabecera CV*/

.profesion {
  font-style: oblique;
  font-weight: normal;
}

.profile {
  background-color: black;
  width: 100%;
}

.cv-header-text {
  color:white;
  padding: 15px;
}

.cv-description {
  width: 100%;
  text-align: justify;
}

.contact {
  background-color: #a6313a;

}
.contact ul {
  list-style: none;
  margin-top: 0;
  padding: 15px;
}

.contact li img {
  width: 30px;
  padding-right: 10px;
}

/*estilos EXPERIENCIA, LENGUAJE, HABILIDADES*/

.list-language, .list-skills {
  padding: 0 20px;
  margin: 0;
}

.list-experience {
  margin: 0;
  padding: 20px 20px;
}

.job {
  font-weight: bold;
}

/*Estilos EDUCACION*/

.list-education {
  display: flex;
  padding: 20px 20px;
  margin: 0;
  justify-content: space-between;
}

/* Estilos bot칩n imprimir CV*/

.print-button {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #a6313a;
  opacity: 1;
  color: white;
  border-radius: 0.938em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.313em;
  width: 100%;
  border: none;
  margin-bottom: 1.250em;
  margin-top: 1.250em;
  box-shadow: none;
}

/*Estilos del footer*/

footer {
  background-color: black;
  color:white;
  text-align: center;
  font-weight: bold;
  height: 30px;
  padding: 5px;
}

/*MEDIAQUERIES*/


@media all and (min-width: 768px){

  .list-contact {
    display:flex;
    justify-content: space-between;
  }

  .list-education li {
    margin-right: 30px;
  }
}

@media all and (min-width:1024px){

  .welcome-box {
    height: 20em;
    padding:20px 60px;
  }

  header {
    height: 75px;
  }

  .cvbyker {
    font-size: 1.875em;
  }

  .ker-care {
    font-size: 1.250em;
  }

  h2 {
    font-size: 1.875em;
  }

  .welcome-text {
    font-size: 1.5em;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  .form-box {
    width:30%;
  }

  .cv-box {
    display: block;
    width:65%;
    margin:20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px 10px;
  }
}

@media print { /* Using for the screen as well */
    body {
      -webkit-print-color-adjust: exact;
    }
    .print-button{
    display: none;
}
}
