* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 2%;
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  margin-left: 5%;
}
h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}
hr {
  height: 2px;
  background-color: #a6313a;
  border:none;
  margin-top: 3px;
  margin-right: 25%;
  margin-left: 5%;
}

p{
  width: 90%;
}

/*ESTILOS CV*/

/*Estilos caja gris secciones*/
.skills-box, .language-box, .experience-box, .education-box {
  background-color: lightgray;
  padding: 5px;
}


/*Estilos Cabecera CV*/
.profile{
  background-color: black;
  width: 100%;
}

.profile img{
  width: 100%;
  padding: 5%;
}

.CV-header-text{
  color:white;
  padding: 5%;
}
.CV-description{
  width: 100%;
  text-align: justify;
}

.contact{
  background-color: #a6313a;

}
.contact ul{
  list-style: none;
  margin-top: 0;
  padding: 15px;

}
.contact li img{
  width: 30px;
}

/*estilos EXPERIENCIA, LENGUAJE, HABILIDADES*/
.list-experience, .list-language, .list-skills {
  padding: 0 20px;
  margin: 0;
}

.job {
  font-weight: bold;
}

/*Estilos EDUCACION*/
.list-education {
  display: flex;
  padding: 0 20px;
  margin: 0;
  justify-content: space-between;
}
