* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;

}

h3 {
  margin-bottom: 0;
}

hr {
  height: 2px;
  background-color: black;
  border:none;
}

/*ESTILOS CV*/

/*Estilos caja gris secciones*/
.skills-box, .language-box, .experience-box, .education-box {
  background-color: lightgray;
  padding: 5px;
}

/*Estilos Cabecera CV*/
.profile{
  background-color: black;
  display: flex;
  width: 100%;
  align-items: center;
}

.profile img{
  width: 100%;
  padding: 10px;
}

.CV-header-text{
color:white;
padding: 10px;
}

.contact{
  background-color: #a6313a;

}
.contact ul{
  list-style: none;
  display:flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 15px 0;

}
.contact li img{
  width: 30px;
}

/*Estilos posicionamiento Educacion*/
.list-education {
  display: flex;
    padding: 0 20px;
    margin: 0;
    justify-content: space-between;
    width: 40%;
}
